<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="">EatLess</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <form class="form-inline">
        <div class="input-group">
          <input [(ngModel)]="nameKeywords" name="search" type="text" class="form-control" placeholder="Wyszukaj..."
                 aria-label="Search" aria-describedby="basic-addon1">
          <div class="input-group-append">
            <span routerLink="/searchAdvanced" class="input-group-text" id="basic-addon2"><i class="fas fa-cog advancedSearchBtn"></i></span>
          </div>
          <div class="input-group-append">
            <span (click)="search()" class="input-group-text" id="basic-addon1"><i class="fas fa-search searchBtn"></i></span>
          </div>
        </div>
      </form>
      <ul class="navbar-nav ml-auto">
        <li *ngIf="$isAdmin" class="nav-item dropdown" dropdown>
          <a style="cursor: pointer" dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Panel
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/ingredients">Składniki</a>
            <a class="dropdown-item" routerLink="/categoriesPanel">Kategorie</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Przepisy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories" routerLinkActive="active">Kategorie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/diet/generate" routerLinkActive="active">Dieta</a>
        </li>
        <li *ngIf="$isAuthenticated" class="nav-item">
          <a class="nav-link"  routerLink="/profile/settings" routerLinkActive="active">Ustawienia</a>
        </li>
        <li *ngIf="!$isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="/login">Zaloguj</a>
        </li>
        <li *ngIf="$isAuthenticated" class="nav-item">
          <a href="#" class="nav-link" (click)="logout()">Wyloguj</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
