<div class="col-md-6 mx-auto">
  <h2>Dodaj przepis</h2>
  <form>
    <div class="form-group">
      <label for="name">Nazwa</label>
      <input id="name" type="text" class="form-control" [(ngModel)]="tempRecipe.name" name="name" [autofocus]="true">
    </div>
    <div class="form-group">
      <label for="content">Treść</label>
      <textarea rows="10" id="content" class="form-control" [(ngModel)]="tempRecipe.content" name="content"></textarea>
    </div>
  </form>
  <div class="row">
    <div class="col-md-4">
      <label for="portions">Ilość porcji</label>
      <input id="portions" min="1" type="number" class="form-control" [(ngModel)]="tempRecipe.portions"
             name="portions">
    </div>
    <div class="col-md-4">
      <label for="totalCalories">Ilość kalorii</label>
      <input id="totalCalories" min="0" type="number" class="form-control" [(ngModel)]="tempRecipe.totalCalories"
             name="totalCalories">
    </div>
    <div class="col-md-4">
      <label for="preparationTime">Czas przygotowania</label>
      <input id="preparationTime" min="1" type="number" class="form-control" [(ngModel)]="tempRecipe.preparationTime"
             name="preparationTime">
    </div>
  </div>
  <div class="row categoriesRow">
    <div class="col-md-12">
      <label>Kategoria</label>
      <ng-select class="customSelect"  [items]="categories$ | async" [(ngModel)]="selectedCategories" [multiple]="true"
        [searchable]="true" bindLabel="categoryName" bindValue="id"></ng-select>
    </div>
  </div>
  <div>
    <label class="ingredientsLabel">Składniki</label>
    <div class="row ingredientItemRow" *ngFor="let ingredient of tempRecipe.ingredients; let i = index;">
      <div class="col-md-8">
        <ng-select class="customSelect" id="ingredient_{{i}}" [items]="ingredients" [(ngModel)]="ingredient.ingredientId" name="ingredient"
                   [searchable]="true" bindLabel="ingredientName" bindValue="id" placeholder="Wybierz składnik"
                    ></ng-select>
      </div>
      <div class="col-md-3 ingredientItemAmount">
        <input [ngStyle]="{'display':'inline-block'}" id="amount_{{i}}" min="1" type="text" class="form-control" [(ngModel)]="ingredient.amount" name="amount"
               placeholder="Ilość">
      </div>
      <div class="col-md-1 trashDiv" *ngIf="i > 0">
        <i (click)="removeIngredient(i)" class="fas fa-minus-circle trashIcon"></i>
      </div>
    </div>
    <span class="addIngredient" (click)="addIngredient()">Dodaj składnik</span>
  </div>
  <div class="fileRow">
    <div class="form-group">
      <input type="file" id="file" (change)="handleFileInput($event.target.files)">
    </div>
  </div>
  <div class="buttonsContainer block-buttons">
    <div class="btn-group">
      <button class="btn btnCreate btn-primary d-inline-block" (click)="add()">Dodaj</button>
      <button class="btn btnCancel btn-danger d-inline-block" routerLink="/recipes">Anuluj</button>
    </div>
  </div>
</div>



