.buttonsContainer {
  margin-top: 10px;
}

.btnCancel {
  margin-left: 5px;
}

.btnCreate {
  margin-right: 5px;
}

.addIngredient {
  color: dodgerblue;
  cursor: pointer;
}

.addIngredient:hover {
  text-decoration: underline;
  text-decoration-color: dodgerblue;
}

.ingredientItemRow {
  padding-bottom: 10px;
}

.categoriesRow {
  margin-top: 10px;
}

.ingredientsLabel {
  margin-top: 10px;
}

.ingredientItemAmount {
  padding-left: 5px;
}

.trashIcon {
  cursor: pointer;
  margin-top: 12px;
}

.trashDiv {
  padding-left: 5px;
}

.fileRow {
  margin-top: 10px;
}
