<div class="row">
  <div class="recipesWrapper">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item" routerLink="/recipes/{{recipe.id}}"
           *ngFor="let recipe of recipes | paginate: { itemsPerPage: 15, currentPage: currentPage }">
        <app-recipe-list-item [recipe]="recipe"></app-recipe-list-item>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="mx-auto">
    <pagination-controls class="pagination" *ngIf="recipes.length > 15"
                         (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</div>
