<div class="row">
  <h2>Ustawienia</h2>
</div>

<div class="row excludedIngredientsRow">
  <div class="col-md-6">
    <label>Wykluczone składniki</label>
    <ng-select class="customSelect" [items]="ingredients$ | async"
               [(ngModel)]="excluded" [multiple]="true"
               [searchable]="true" bindLabel="ingredientName" bindValue="id" [clearable]="false"
               (add)="excludeIngredient($event)" (remove)="approveIngredient($event)"></ng-select>
  </div>
</div>
