<div class="row navigationRow">
  <span><a routerLink="/categories">Kategorie</a>&nbsp;>&nbsp;</span>
  <div *ngFor="let categoryGen of categoryGenealogy">
    <span><a routerLink="/categories/{{categoryGen.id}}">{{categoryGen.categoryName}}</a>&nbsp;>&nbsp;</span>
  </div>
  {{category.categoryName}}
</div>

<div *ngIf="recipes.length > 0">
  <div class="row">
    <div class="recipesWrapper">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item" routerLink="/recipes/{{recipe.id}}"
             *ngFor="let recipe of recipes | paginate: { itemsPerPage: 9, currentPage: currentPage }">
          <app-recipe-list-item [recipe]="recipe"></app-recipe-list-item>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto">
      <pagination-controls class="pagination" *ngIf="recipes.length > 9"
                           (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>
</div>

<div *ngIf="category?.childCategories.length > 0">
  <div class="row">
    <div class="col-md-12 categoryTilesCol">
      <div class="tile" *ngFor="let childCategory of category.childCategories | paginate: { itemsPerPage: 30, currentPage: currentPage }"
           routerLink="/categories/{{childCategory.id}}">
          <span class="tileTitle">{{childCategory.categoryName}}</span>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="mx-auto">
        <pagination-controls class="pagination" *ngIf="category.childCategories.length > 30"
                             (pageChange)="currentPage = $event"></pagination-controls>
      </div>
    </div>
</div>

