<div class="col-md-9 mx-auto">
  <div class="searchPanelTitle">
    <span>Wyszukiwarka&nbsp;<i class="fas fa-arrow-down"></i></span>
  </div>
  <div class="searchPanel">
    <div class="row firstRow">
      <div class="col-md-4">
        <label for="keywords">Słowa kluczowe</label>
        <input id="keywords" type="text" class="form-control" [(ngModel)]="searchModel.nameKeywords"
               name="keywords" [autofocus]="true">
      </div>
      <div class="col-md-4">
        <label for="minCal">Min kalorii</label>
        <input id="minCal" min="0" type="number" class="form-control" [(ngModel)]="searchModel.minCalories"
               name="minCal">
      </div>
      <div class="col-md-4">
        <label>Składniki</label>
        <ng-select class="customSelect" [items]="ingredients$ | async"
                   [(ngModel)]="searchModel.ingredients" [multiple]="true"
                   [searchable]="true" bindLabel="ingredientName" bindValue="id"></ng-select>
      </div>
    </div>
    <div class="row secondRow">
      <div class="col-md-4">
        <label>Kategorie</label>
        <ng-select class="customSelect" [items]="categories$ | async" [(ngModel)]="searchModel.categories" [multiple]="true"
                   [searchable]="true" bindLabel="categoryName" bindValue="id"></ng-select>
      </div>
      <div class="col-md-4">
        <label for="maxCal">Max kalorii</label>
        <input id="maxCal" min="0" type="number" class="form-control" [(ngModel)]="searchModel.maxCalories"
               name="maxCal">
      </div>
      <div class="col-md-4">
        <label>Wykluczone składniki</label>
        <ng-select class="customSelect" [items]="ingredients$ | async"
                   [(ngModel)]="searchModel.excluded" [multiple]="true"
                   [searchable]="true" bindLabel="ingredientName" bindValue="id"></ng-select>
      </div>
    </div>
    <div class="row searchBtnRow">
      <div class="col-md-12">
        <button (click)="search()" class="btn btn-primary searchBtn">Szukaj</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="recipesWrapper">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item" routerLink="/recipes/{{recipe.id}}"
           *ngFor="let recipe of recipes | paginate: { itemsPerPage: 15, currentPage: currentPage }">
        <app-recipe-list-item [recipe]="recipe"></app-recipe-list-item>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="mx-auto">
    <pagination-controls class="pagination" *ngIf="recipes.length > 15"
                         (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</div>
