.recipesWrapper {
  width: 100%;
}

.firstRow {
  padding-right: 15px;
  padding-left: 15px;
}

.secondRow {
  margin-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.searchBtnRow {
  margin-top: 10px;
  padding: 15px;
}

.searchBtn {
  width: 100%;
}

.searchPanel {
  background-color: aliceblue;
  margin-bottom: 10px;
}

.searchPanelTitle {
  background-color: aliceblue;
  padding: 15px;
  cursor: pointer;
  font-size: 2em;
}
