<div class="row">
  <div class="col-lg-8">

    <h1 class="mt-4 recipeTitle">{{recipe?.name}}</h1>

    <p class="lead">
      autor:
      <span>{{recipe?.author?.username}}</span>
    </p>

    <img class="img-fluid" src="/api/images/{{recipe?.image}}" alt="">
    <div class="row infoRow">
      <div class="col-md-2">
        <i class="fas fa-utensils icon"></i>
        <span class="">{{recipe?.portions}}</span>
        <span>&nbsp;porcje</span>
      </div>
      <div class="col-md-2">
        <i class="far fa-clock icon"></i>
        <span class="">{{recipe?.preparationTime}}</span>
        <span>&nbsp;minut</span>
      </div>
      <div class="col-md-2">
        <span class="">{{recipe?.totalCalories}}</span>
        <span>&nbsp;kcal</span>
      </div>
      <div *ngIf="$isAuthenticated" class="col-md-6 favDiv">
        <i *ngIf="!recipe?.isFavourite" style="font-size: 20px" (mouseover)="addToFavHovered=true" (mouseout)="addToFavHovered=false"
           [ngClass]="'fa-heart favIcon ' + (addToFavHovered ? 'fas' : 'far')" (click)="addFavourite()"></i>

        <i *ngIf="recipe?.isFavourite" style="font-size: 20px" (mouseover)="addToFavHovered=true" (mouseout)="addToFavHovered=false"
           [ngClass]="'fa-heart favIcon ' + (addToFavHovered ? 'far' : 'fas')" (click)="removeFavourite()"></i>
      </div>
    </div>

    <hr>

    <p style="white-space: pre-wrap;">{{recipe?.content}}</p>

    <hr>

    <div *ngIf="$isAuthenticated" class="card my-4">
      <h5 class="card-header">Dodaj komentarz</h5>
      <div class="card-body">
        <alert [type]="reviewCreateResult.type == 'success' ? 'success' : 'danger'"
               [dismissible]="true" [dismissOnTimeout]="reviewCreateResult.type == 'success' ? 5000 : 0" *ngIf="reviewCreateResult">{{reviewCreateResult.text}}</alert>
        <div>
          <div class="form-group">
            <textarea [(ngModel)]="tempCreationReview.comment" id="comment" name="comment" class="form-control" rows="3"></textarea>
            <rating [(ngModel)]="tempCreationReview.rating" [customTemplate]="t" style="color: #009FE3; font-size: 26px;"></rating>
          </div>
          <button type="submit" class="btn btn-primary" (click)="addReview()">Dodaj</button>
        </div>
      </div>
    </div>

    <div *ngFor="let review of recipe?.reviews">
      <div *ngIf="review.id == tempUpdateReview.id && reviewUpdateResult">
        <alert [dismissible]="true" type="danger">{{reviewUpdateResult}}</alert>
      </div>
      <div class="media mb-4 commentDiv" >
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">{{review?.author?.username}}
            <rating *ngIf="review.id != tempUpdateReview.id" [readonly]="true" [(ngModel)]="review.rating" [customTemplate]="t" style="color: #009FE3; font-size: 15px; top: -1px; position: relative"></rating>
            <rating *ngIf="review.id == tempUpdateReview.id" [(ngModel)]="tempUpdateReview.rating" [customTemplate]="t" style="color: #009FE3; font-size: 15px; top: -1px; position: relative"></rating>
          </h5>

          <div *ngIf="review.id != tempUpdateReview.id">
            {{review.comment}}
          </div>
          <div *ngIf="review.id != tempUpdateReview.id && isAdminOrOwner(review?.author?.username)" class="commentsActionsRow">
            <span class="commentDelete" (click)="openCommentModal(templateDelComment, review.id)">usuń</span>
            <span class="commentEdit" (click)="editComment(review.id)">edytuj</span>
          </div>

          <textarea #commentEditTextArea class="form-control" [(ngModel)]="tempUpdateReview.comment" name="commentEdit" *ngIf="review.id == tempUpdateReview.id"></textarea>
          <div *ngIf="review.id == tempUpdateReview.id && isAdminOrOwner(review?.author?.username)" class="commentsEditActionsRow">
            <span class="commentEditSave" (click)="saveCommentEdit()">zapisz</span>
            <span class="commentEditCancel" (click)="cancelCommentEdit()">anuluj</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">

    <div class="card my-4">
      <h5 class="card-header">Kategorie</h5>
      <div class="card-body">
          <div class="categoryItem" *ngFor="let category of recipe?.categories">
            <a routerLink="/categories/{{category.id}}">{{category.categoryName}}</a>
          </div>
      </div>
    </div>

    <div class="card my-4">
      <h5 class="card-header">Składniki</h5>
      <div class="card-body">
        <div *ngFor="let ingredient of recipe?.ingredients">
          <div class="row">
            <div class="col-md-7">
              {{ingredient.ingredient.ingredientName}}
            </div>
            <div class="col-md-5 ingredientAmount">
              {{ingredient.amount}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isAdminOrOwner(recipe?.author?.username)" class="my-4">
      <div class="buttonsContainer block-buttons">
        <div class="btn-group">
          <button class="btn btn-primary deleteBtn" (click)="openModal(template)">Usuń przepis</button>
          <button class="btn btn-primary editBtn" routerLink="/recipes/{{recipeId}}/edit">Edytuj przepis</button>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Czy na pewno chcesz usunąć przepis?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="buttonsContainer block-buttons">
      <div class="btn-group">
        <button class="btn btn-primary deleteBtn" (click)="deleteRecipe()">Jeszcze jak!</button>
        <button class="btn btn-danger cancelBtn" (click)="modalRef.hide()">A skądże proszę pana!</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateDelComment>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Czy na pewno chcesz usunąć komentarz?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="buttonsContainer block-buttons">
      <div class="btn-group">
        <button class="btn btn-primary deleteBtn" (click)="deleteComment()">Tak</button>
        <button class="btn btn-danger cancelBtn" (click)="modalRef.hide()">Nie</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #t let-index="index" let-value="value">
  <i class="fa{{ index < value ? 's' : 'r'}} fa-star"></i>
</ng-template>
