.categoryItem {
  margin-right: 10px;
  display: inline-flex;
}

.ingredientAmount {
  text-align: right;
}

.icon {
  margin-right: 8px;
}

.infoRow {
  margin-top: 16px;
  margin-left: 5px;
}

.deleteBtn {
  margin-right: 5px;
}

.editBtn {
  margin-left: 5px;
}

.cancelBtn {
  margin-left: 5px;
}

.recipeTitle {
  word-break: break-word;
}

.commentDiv:hover .commentsActionsRow, .commentsActionsRow:hover {
  opacity: 1;
}

.commentsActionsRow {
  margin-top: 5px;
  opacity: 0;
  transition: opacity .35s ease-in-out;
}

.commentsEditActionsRow {
  margin-top: 5px;
}

.commentDelete, .commentEditSave {
  margin-right: 5px;
  color: #009FE3;
}

.commentEdit, .commentEditCancel {
  color: #009FE3;
}

.commentDelete:hover, .commentEdit:hover, .commentEditSave:hover, .commentEditCancel:hover {
  text-decoration: underline;
  cursor: pointer;
}

.favIcon {
  color: red;
}

.favDiv {
  text-align: right;
}
