.tile {
  height: 200px;
  width: 200px;
  background-color: #009FE3;
  margin:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease-in-out, background-color .2s ease-in-out;
  box-shadow: 0 0 10px -1px grey;
}

.tile:hover {
  transform: scale(1.07);
  background-color: #005EE2;
  box-shadow: 0 0 10px 1px grey;
}

.tileTitle {
  color: white;
  font-size: 20px;
  word-break: break-all;
  padding: 10px;
}

.categoryTilesCol {
  display: flex;
  flex-wrap: wrap;
}
