<div class="row">
  <div class="col-md-12 categoryTilesCol">
    <div *ngFor="let category of categories">
      <div *ngIf="category.parentCategoryId == null" class="tile" routerLink="/categories/{{category.id}}">
        <span class="tileTitle">{{category.categoryName}}</span>
      </div>
    </div>
  </div>
</div>
