<div class="row actionsRow">
  <button class="btn btn-primary" routerLink="/recipes/add">Dodaj nowy przepis</button>
</div>
<div class="row">
  <div class="recipesWrapper">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item"
           *ngFor="let recipe of recipes | paginate: { itemsPerPage: 9, currentPage: currentPage }">
        <app-recipe-list-item [recipe]="recipe"></app-recipe-list-item>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="mx-auto">
    <pagination-controls class="pagination" *ngIf="recipes.length > 9"
                         (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</div>


