<div>
  <h2 class="recommendedText">Polecane dla Ciebie</h2>
</div>
<div class="row">
  <div class="recipesWrapper">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item" routerLink="/recipes/{{recipe.id}}"
           *ngFor="let recipe of recipes">
        <app-recipe-list-item [recipe]="recipe"></app-recipe-list-item>
      </div>
    </div>
  </div>
</div>
