<button class="btn btn-primary addCategoryBtn" (click)="openCategoryAddModal(templateAddCategory)">Dodaj kategorię</button>
<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered table-striped">
      <tbody>
      <tr (click)="openCategoryEditModal(templateUpdateCategory, category.id)" class="categoryTr"
          *ngFor="let category of categories | paginate: { itemsPerPage: 30, currentPage: currentPage }">
        <td>
          {{category.categoryName}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="mx-auto">
    <pagination-controls class="pagination" *ngIf="categories.length > 30"
                         (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</div>

<ng-template #templateAddCategory>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Nowa kategoria</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="categoryForm">
      <alert [dismissible]="true" *ngIf="categoryCreateResult" type="danger">{{categoryCreateResult}}</alert>
      <div class="form-group">
        <label for="newCategoryName">Nazwa</label>
        <input type="text" class="form-control" id="newCategoryName"
               name="newCategoryName" [(ngModel)]="tempCategoryCreation.categoryName">
      </div>
      <div class="form-group">
        <label>Kategoria nadrzędna</label>
        <ng-select class="customSelect"  [items]="categories" [(ngModel)]="tempCategoryCreation.parentCategoryId"
                   [searchable]="true" bindLabel="categoryName" bindValue="id"></ng-select>
      </div>
    </div>
    <div class="buttonsContainer block-buttons">
      <div class="btn-group">
        <button class="btn btn-primary saveAddCategoryBtn" (click)="addCategory()">Dodaj</button>
        <button class="btn btn-danger cancelBtn" (click)="modalRef.hide()">Anuluj</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateUpdateCategory>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edytuj kategorię</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="categoryForm">
      <alert [dismissible]="true" *ngIf="categoryUpdateResult" type="danger">{{categoryUpdateResult}}</alert>
      <div class="form-group">
        <label for="updateCategoryName">Nazwa</label>
        <input type="text" class="form-control" id="updateCategoryName"
               name="updateCategoryName" [(ngModel)]="tempCategoryUpdate.categoryName">
      </div>
      <div class="form-group">
        <label>Kategoria nadrzędna</label>
        <ng-select class="customSelect"  [items]="categoriesForUpdate" [(ngModel)]="tempCategoryUpdate.parentCategoryId"
                   [searchable]="true" bindLabel="categoryName" bindValue="id"></ng-select>
      </div>
    </div>
    <div class="buttonsContainer block-buttons">
      <div class="btn-group">
        <button class="btn btn-primary saveAddCategoryBtn" (click)="updateCategory()">Zapisz</button>
        <button class="btn btn-danger cancelBtn" (click)="modalRef.hide()">Anuluj</button>
      </div>
    </div>
  </div>
</ng-template>
