.categoryTr {
  cursor: pointer;
}

.addCategoryBtn {
  margin-bottom: 10px;
}

.saveAddCategoryBtn {
  margin-right: 5px;
}

.cancelBtn {
  margin-left: 5px;
}

.categoryForm {
  margin-bottom: 10px;
}
