
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
</head>

<app-navmenu></app-navmenu>
<div class="container content">
  <app-alert></app-alert>
  <router-outlet (deactivate)="onDeactivate()"></router-outlet>
</div>
<div class="footer">Eatless 2018 &copy;</div>
