<button class="btn btn-primary addIngredientBtn" (click)="openIngredientAddModal(templateAddIngredient)">Dodaj składnik</button>
<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered table-striped">
      <tbody>
      <tr (click)="openIngredientEditModal(templateUpdateIngredient, ingredient.id)" class="ingredientTr" *ngFor="let ingredient of ingredients | paginate: { itemsPerPage: 30, currentPage: currentPage }">
        <td>
          {{ingredient.ingredientName}}<i *ngIf="!ingredient.animalProduct" class="fas fa-leaf" style="color: green"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="mx-auto">
    <pagination-controls class="pagination" *ngIf="ingredients.length > 30"
                         (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</div>

<ng-template #templateAddIngredient>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Nowy składnik</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="ingredientForm">
      <alert [dismissible]="true" *ngIf="ingredientCreateResult" type="danger">{{ingredientCreateResult}}</alert>
      <div class="form-group">
        <label for="newIngredientName">Nazwa</label>
        <input type="text" class="form-control" id="newIngredientName"
               name="newIngredientName" [(ngModel)]="tempIngredientCreation.ingredientName">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="newIngredientIsAnimalProd"
               name="newIngredientIsAnimalProduct" [(ngModel)]="tempIngredientCreation.animalProduct">
        <label class="form-check-label" for="newIngredientIsAnimalProd">Produkt zwierzęcy</label>
      </div>
    </div>
    <div class="buttonsContainer block-buttons">
      <div class="btn-group">
        <button class="btn btn-primary saveAddIngredientBtn" (click)="addIngredient()">Dodaj</button>
        <button class="btn btn-danger cancelBtn" (click)="modalRef.hide()">Anuluj</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateUpdateIngredient>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edytuj składnik</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="ingredientForm">
      <alert [dismissible]="true" *ngIf="ingredientUpdateResult" type="danger">{{ingredientUpdateResult}}</alert>
      <div class="form-group">
        <label for="updateIngredientName">Nazwa</label>
        <input type="text" class="form-control" id="updateIngredientName"
               name="updateIngredientName" [(ngModel)]="tempIngredientUpdate.ingredientName">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="updateIngredientIsAnimalProd"
               name="updateIngredientIsAnimalProd" [(ngModel)]="tempIngredientUpdate.animalProduct">
        <label class="form-check-label" for="updateIngredientIsAnimalProd">Produkt zwierzęcy</label>
      </div>
    </div>
    <div class="buttonsContainer block-buttons">
      <div class="btn-group">
        <button class="btn btn-primary saveAddIngredientBtn" (click)="updateIngredient()">Zapisz</button>
        <button class="btn btn-danger cancelBtn" (click)="modalRef.hide()">Anuluj</button>
      </div>
    </div>
  </div>
</ng-template>
