.ingredientTr {
  cursor: pointer;
}

.addIngredientBtn {
  margin-bottom: 10px;
}

.saveAddIngredientBtn {
  margin-right: 5px;
}

.cancelBtn {
  margin-left: 5px;
}

.ingredientForm {
  margin-bottom: 10px;
}
