<div class="row">
  <div class="col-sm-4 mx-auto">
    <h1 class="text-center login-title">Zaloguj się</h1>
    <div class="account-wall">
      <form class="form-signin">
        <input type="text" class="form-control" [(ngModel)]="tempUser.username" name="username" placeholder="Login" [autofocus]="true">
        <input type="password" class="form-control" [(ngModel)]="tempUser.password" name="password" placeholder="Hasło">
        <button class="btn btn-lg btn-primary btn-block" (click)="login()" type="submit">Zaloguj się</button>
        <span class="clearfix"></span>
      </form>
    </div>
    <a routerLink="/register" class="text-center new-account">Stwórz konto</a>
  </div>
</div>
