<alert *ngIf="dietGenerateResult" [dismissible]="true" type="danger">{{dietGenerateResult}}</alert>
<div class="row userDataRow">
  <div class="col-md-2 userDataElement">
      <label for="userMass">Waga</label>
      <input step="0.1" id="userMass" min="1" type="number" class="form-control" [(ngModel)]="tempDietInfo.mass"
             name="userMass">
  </div>
  <div class="col-md-2 userDataElement">
    <label for="userHeight">Wzrost</label>
    <input step="0.1" id="userHeight" min="1" type="number" class="form-control" [(ngModel)]="tempDietInfo.height"
           name="userMass">
  </div>
  <div class="col-md-2 userDataElement">
    <label for="userAge">Wiek</label>
    <input id="userAge" min="1" type="number" class="form-control" [(ngModel)]="tempDietInfo.age"
           name="userMass">
  </div>
  <div class="col-md-2 userDataElement">
    <label>Aktywność</label>
    <ng-select class="customSelect"  [items]="activity" [(ngModel)]="tempDietInfo.activity"
               bindLabel="name" bindValue="id" [clearable]="false"></ng-select>
  </div>
  <div class="col-md-2 userDataElement">
    <label>Płeć</label>
    <ng-select class="customSelect"  [items]="gender" [(ngModel)]="tempDietInfo.gender"
               bindLabel="name" bindValue="id" [clearable]="false"></ng-select>
  </div>
  <div class="col-md-2 userDataElement">
    <button (click)="generate()" class="btn btn-primary generateBtn">Generuj</button>
  </div>
</div>

<div *ngIf="generatedDiet">
  <div class="row calRow">
    <div class="col-md-12">
      <h4>Całkowita ilość kalorii:&nbsp;{{generatedDiet.totalCalories}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h5>Śniadanie</h5>
      <app-recipe-list-item [recipe]="generatedDiet.meals['BREAKFAST']"></app-recipe-list-item>
    </div>
    <div class="col-md-4">
      <h5>Drugie śniadanie</h5>
      <app-recipe-list-item [recipe]="generatedDiet.meals['SECOND_BREAKFAST']"></app-recipe-list-item>
    </div>
    <div class="col-md-4">
      <h5>Obiad</h5>
      <app-recipe-list-item [recipe]="generatedDiet.meals['DINNER']"></app-recipe-list-item>
    </div>
  </div>
  <div class="row secondRow">
    <div class="col-md-4">
      <h4>Podwieczorek</h4>
      <app-recipe-list-item [recipe]="generatedDiet.meals['TEA']"></app-recipe-list-item>
    </div>
    <div class="col-md-4">
      <h4>Kolacja</h4>
      <app-recipe-list-item [recipe]="generatedDiet.meals['SUPPER']"></app-recipe-list-item>
    </div>
  </div>
</div>
