.userDataRow {
  margin-bottom: 15px;
  background-color: aliceblue;
}

.userDataRow div {
  padding: 10px;
}

.generateBtn {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

.calRow {
  text-align: center;
  margin-bottom: 10px;
}

.secondRow {
  justify-content: center;
}
