@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  padding-top: 80px;
}

@media (min-width: 992px) {
  body {
    padding-top: 80px;
  }
}

.pagination .ngx-pagination .current {
  background: #ea125e;
}

.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.ng-select.customSelect {
  border-radius: 0;
}
.ng-select.customSelect .ng-select-container  {
  border-radius: 0;
}

.ng-dropdown-panel.customSelect {
  border-radius: 0;
}

.ng-dropdown-panel.customSelect > div.open {
  border-radius: 0;
}

span.stars, span.stars span {
  display: block;
  background: url('https://apppresser.com/wp-content/uploads/2015/11/stars.png') 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}

span.stars span {
  background-position: 0 0;
}

.starsRow {
  display: inline-block !important;
}

.block-buttons {
  position: relative;
}
.block-buttons .btn-group {
  width: 100%;
}

.block-buttons button {
  width: 50%;
}

.footer {
  height: 60px;
  background-color: #009FE3;
  color: white;
  vertical-align: middle;
  text-align: center;
  line-height: 60px;
  margin-top: 10px;
}

.content {
  min-height: calc(100vh - 150px);
}
