.recipeCard {
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  cursor: pointer;
}

.cardImg {
  border-radius: 0;
}

.recipeTitle {
  height: 3.6em;
}

.calDiv {
  text-align: right;
}

.ratingDiv {
  text-align: right;
}

.icon {
  margin-right: 8px;
}

.recipeItem {
  height: 400px;
  transition: transform .2s ease-in-out;
}

.recipeItem:hover {
  transform: scale(1.07);
}

.recipeContainer {
  padding-bottom: 15px;
}

.imageContainer {
  display: block;
  width: 100%;
  padding-bottom: 57.85%;
  background-size: cover;
}
