<div class="recipeContainer" routerLink="/recipes/{{recipe.id}}">
  <div class="card h-100 recipeCard recipeItem">
    <div class="imageContainer" [ngStyle]="{'background-image' : 'url(/api/images/thumbnail-'+ recipe.image + ')'}">
      <img class="card-img-top cardImg" alt="">
    </div>
    <div class="card-body">

      <h6 class="card-title recipeTitle">
        {{ recipe.name }}
      </h6>

      <div class="col-md card-text">

        <div class="row">
          <div class="prepTimeDiv col-md-6">
            <i class="far fa-clock"></i>
            {{recipe.preparationTime}}
            <span>minut</span>
          </div>
          <div class="ratingDiv col-md-6">
                  <span class="stars starsRow">
                    <span [ngStyle]="{'width': getStars(recipe.averageRating)}"></span>
                  </span>

          </div>
        </div>


        <div class="row">
          <div class="portionsDiv col-md-6">
            <i class="fas fa-utensils icon"></i>
            {{recipe.portions}}
            <span *ngIf="recipe.portions >= 2 && recipe.portions <= 4">porcje</span>
            <span *ngIf="recipe.portions == 1">porcja</span>
            <span *ngIf="recipe.portions == 0 || recipe.portions > 4">porcji</span>
          </div>
          <div class="calDiv col-md-6">
            {{recipe.totalCalories}}
            <span>kcal</span>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
